@import "tailwindcss";

/* primary: orange-500 */
/* secondary: venstre-blue-700 */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --color-venstre-blue-600: oklch(0.4 0.1732 263.11);
  --color-venstre-blue-700: oklch(0.34 0.1732 263.11);
  --color-venstre-blue-800: oklch(0.3 0.1732 263.11);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-urbanist-sans), Arial, Helvetica, sans-serif;
}
